.info-container {
  position: absolute;
  display: grid;
  grid-template-columns: minmax(1fr);
  width: 100%;
  bottom: 2rem;
}

.flex-container-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-column: 2/3;
  align-items: center;
  min-height: 50rem;
}

.details {
  font-size: 3rem;
  width: 70%;
  background-color: rgba(116, 134, 135, 1);
  color: rgba(255, 214, 0, 1);
  text-align: center;
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.person-info {
  background-color: rgba(196, 196, 196, 1);
  height: 100%;
  width: 70%;
  padding: 1rem;
  letter-spacing: 2px;
  padding: 3rem;
}

.person-info h2 {
  font-size: 3rem;
}

.person-info p {
  font-size: 2rem;
}

.planet-info {
  background-color: gold;
  height: 100%;
  width: 70%;
  padding: 1rem;
  letter-spacing: 2px;
  padding: 3rem;
}

.planet-info h2 {
  font-size: 3rem;
  padding: 0.3rem;
}

.planet-info p {
  font-size: 2rem;
  padding: 0.3rem;
}

.flex-container-characters {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  align-items: center;
  min-height: 50rem;
}

.characters {
  font-size: 3rem;
  width: 70%;
  background-color: rgba(116, 134, 135, 1);
  color: rgba(255, 214, 0, 1);
  text-align: center;
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

#characters-list {
  list-style: none;
  width: 70%;
}

#characters-list li {
  font-size: 2rem;
  background-color: rgba(142, 142, 142, 1);
  padding: 1rem;
}
#characters-list li:nth-child(even) {
  background-color: rgba(255, 255, 255, 1);
}
#characters-list li:hover {
  background-color: rgba(68, 68, 68, 1);
}
.pagination-container {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: center;
  padding: 1rem;
}

.pagination-number,
.pagination-button {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.2rem;
}
.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
}

.pagination-number.active {
  color: #fff;
  background: #0085b6;
}

.hidden {
  display: none;
}
